@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Nixie+One&display=swap');

:root {
  --bright-green: #539b53;
  --headings: 'Audiowide', cursive;
  --body: 'Nixie One', cursive;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: var(--body);
  color: #244224;
  background-color: var(--bright-green);
}

p {

font-size: 1vw;
font-weight: 900;
}

h1, h2, h3, h4 {
font-family: var(--headings);
margin: 0;
}
h1 {
  font-size: 3.5vw;}

h2

{
  color: #5fb15f;
  font-size: 1.5vw;
}

h3

{
  font-size: 1.5vw;
}

h4

{
  font-size: 1vw;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.player-card {
  background-image: url("../assets/pawn.svg");
  padding: 1vw;
  background-repeat: no-repeat;
  background-position: -300% center;
  background-size: 90% 90%;
  height: 30vw;
  width: 60vw;
  display: grid;
  grid-template-columns: 1rem 2fr 3fr 1rem;
  border-radius: 20px;
  background-color: var(--bright-green);
  box-shadow:  15px 15px 30px #437e43,
               -15px -15px 30px #63b863;

}

.profile{
  grid-column: 2 / 2;
}

.stats {
  height: inherit;
  grid-column: 3 / 3;
  display: grid;
  grid-template-columns: 1fr 0.5rem 1fr 0.5rem 1fr 0.5rem 1fr 0.5rem;
  grid-template-rows: 1.5vw 0.5rem 1fr 0.5rem 1fr 0.5rem 1fr 0.5rem 1fr;
}

.game-format {
  grid-column: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.format-icon {

  height:20px;
  width:20px;
  margin-right: 5px;
}

.left-col {
grid-column: 3 / 3;
}

.mid-col {
grid-column: 5 / 5;
}

.right-col {
  grid-column: 7 / 7;
}

.header-row {
  grid-row: 1 / 1;
}

.rapid {

  grid-row: 3 / 3;

}

.blitz {

  grid-row: 5 / 5;

}

.bullet {

  grid-row: 7 / 7;

}

.explainer {
  grid-row: 9 / 9;
  grid-column: 1 / 8;
}
